.about {
  background: #eee;
  font-size: 1.75rem;
  margin: 0 -1rem;
  overflow: auto;
  padding: 1rem;
}

@media screen and (min-width: 600px) {
  .about {
    margin: 0 -2rem;
    padding: 2rem;
  }
}
