.navigation {
  font-size: 1.25rem;
  height: 4rem;
}

.navigation--list {
  background: #000;
  color: #fff;
  display: flex;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.navigation--item {
  margin: auto 1em;
}
