@import "./style/base.css";
@import "./style/company-filter.css";
@import "./style/company.css";
@import "./style/about.css";
@import "./style/navigation.css";

.container {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.company-filter {
  flex: 0 1 300px;
}

.companies {
  flex: 1 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: max-content;
  grid-gap: 1em;
}
